<script>
  function deleteProduct(id) {
    fetch(`/product/edit/${id}`, { method: "DELETE" });
  }
</script>

<ul id="products">
  {{#each products}}
  <div>
    <li>Title:{{title}} - Price:{{price}} /// "{{description}}"</li> <a href="/products/{{_id}}">Edit</a>
    <a href="/products/delete/{{_id}}">Delete</a>
  </div>
  {{/each}}
</ul>
<form method="POST" action="/products/create">
  {{> product-form}}
</form>