<script>
  function deleteProduct(id) {
    console.log("ID", id);
    fetch(`/product/edit/${id}`, { method: "DELETE" });
    console.log("delete");
  }
</script>
<ul id="products">
  {{#each products}}
  <li>Title:{{title}} - Price:{{price}} /// "{{description}}"</li> <a href="/products/edit/{{_id}}">Edit</a>
  <a href="/products/delete/{{_id}}">Delete</a>
  {{/each}}
</ul>
<form class="row g-3 needs-validation" method="POST" action="/products/create" novalidate>
  {{> product-form}}
</form>